<div class="jumbotron">
    <h1 class="display-4">Nortwind Traders</h1>
    <p class="lead">Frontend app for the '.NET Northwind webAPI' made with Angular v12</p>
    <hr class="my-4">
    <p>In this preliminary version you can perfom all the CRUD operations on the 'Category' entity.</p>
    <p>
        The angular client must run on http://localhost:4200 and the web API must run on http://localhost:60168
        If you want, you can change that on categoryService (angular) and on CategoryController (.NET)
    </p>
    <p class="lead">
        <a class="btn btn-secondary" routerLink="/categories" role="button">Go to categories</a>
    </p>
</div>