@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="margin: 3rem;">Ejercicio LINQ</h1>
    
    <ul>
        <li><h4>@Html.ActionLink("Customers Querys", "Index", "Customer")</h4></li>
        <li><h4>@Html.ActionLink("Products Querys", "Index", "Product")</h4></li>
    </ul>
</div>